#navbar{
    background-color:#4399ba;
} 
body{
    font-family: Georgia, Times, 'Times New Roman', serif;
}
#carrossel_imagens{
    height: 650px;
}
#imagens_body{
    width: 564px;
    height: 390px;
}